.icon {
  &:hover {
    path {
      fill: var(--primary);
    }
  }

  &:focus {
    path {
      fill: var(--primary);
    }
  }
}

@media (prefers-color-scheme: light) {
  .icon {
    path {
      fill: var(--dark);
    }
  }
}
