.container div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.container span {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.container p{
  font-size: 1.5rem;
}
