.container {
  text-align: center;
  margin: 100px 0;

  p {
    margin-bottom: 10px;
  }

  a {
    display: block !important;
  }
}

.date {
  font-family: Inconsolata, monospace;
  font-size: 16px;
  line-height: 20px;
  margin-top: 5px;
}

.title {
  color: var(--primary);
  font-weight: bold;
  font-size: 16px;
  min-height: 48px;
}
