.container {
  text-align: center;
  margin: 10rem 0;
}

.container p {
  margin-bottom: 1rem;
}

.container a {
  display: block !important;
}

.date {
  font-family: var(--font-Inconsolata);
  font-size: 1.6rem;
  line-height: 2rem;
  margin-top: 0.5rem;
}

.title {
  color: var(--primary);
  font-weight: bold;
  font-size: 1.8rem;
}

.description {
  font-size: 1.7rem;
}
