.container {
  margin: 8rem 0;
}

.container p:first-of-type {
  font-size: 2rem;
}

.container:nth-child(2) {
  margin-bottom: 8rem;
}

.container a {
  color: var(--primary);
}

.description {
  font-size: 1.8rem;
  text-align: center;
}

.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
}

.app div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.link {
  color: var(--primary);
  font-size: 1.7rem;
}

.techLists {
  list-style-type: '|';
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 3rem;
}

.techLists :nth-child(1) {
  list-style-type: none;
}

.techLists li {
  font-family: var(--font-Inconsolata);
  font-size: 1.2rem;
  color: var(--primary);
  padding: 0.5rem;
}

@media (min-width: 768px) {
  .description p {
    font-size: 2.5rem;
  }

  .techLists {
    list-style-type: none;
  }

  .techLists li {
    padding: 0;
  }
}
