.container {
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  display: flex;
  margin-bottom: 10rem;
  padding: 2rem 0;
}

.container h1 {
  font-size: 2rem;
}

.aboutMe {
  margin-bottom: 7rem;
}

.aboutMe h2 {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.aboutMe p {
  font-size: 1.5rem;
  text-align: justify;
}

.education h3 {
  font-size: 2.5rem;
}

.jobsAndCourses h3 {
  font-size: 3rem;
}

.projects {
  margin-top: 7rem;
}

.projects h4 {
  font-size: 3rem;
}

.techs {
  margin: 8rem 0;
}

.techs h5 {
  margin-bottom: 5rem;
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
}

.techs div {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
  gap: 1.5rem;
  padding: 2.5rem 1.5rem;
}

.footer {
  padding: 5rem;
  font-size: 1.9rem;
}

.footer h5 {
  font-size: 1.2rem;
  text-align: center;
}

.footer div {
  display: flex;
  justify-content: center;
  margin: 1rem 0 1rem 0;
}

.footer input[type='color'] {
  border: none;
  width: 3.2rem;
  height: 3.2rem;
  cursor: pointer;
}

.footer input[type='color']::-webkit-color-swatch-wrapper {
  padding: 0;
}

.footer input[type='color']::-webkit-color-swatch {
  border: none;
}

.languages {
  position: absolute;
  display: flex;
  justify-content: flex-end;
  width: 100%;
  padding-top: 1.5rem;
  padding-right: 2%;
  gap: 0.5rem;
}

.languages button {
  margin-right: 2rem;
}

.mainContent {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 1.5rem;
  grid-row-gap: 0px;
}

.educationContent {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.jobsAndCoursesContent {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.coursesContent {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(6, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.centerGrid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  align-items: center;
  justify-content: center;
}

@media (min-width: 768px) {
  .container h1 {
    font-size: 3.5rem;
  }

  .aboutMe p {
    font-size: 2rem;
  }

  .techs h5 {
    margin-bottom: 5rem;
    font-size: 5rem;
  }

  .languages {
    padding-top: 3rem;
  }

  .mainContent {
    grid-column-gap: 8rem;
  }

  .educationContent {
    grid-template-columns: repeat(2, 1fr);
  }

  .jobsAndCoursesContent {
    grid-template-columns: repeat(2, 1fr);
  }

  .coursesContent {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
  }

  .education h3 {
    font-size: 3rem;
  }

  .footer h5 {
    font-size: 2rem;
  }
}
