.main {
  height: 100vh;

  h1 {
    font-size: 20px;
  }
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.desc {
  font-size: 10px;
  text-align: justify;
  display: flex;
  justify-content: center;
  align-items: center;
}

.city {
  font-size: 15px;
  margin-bottom: 5%;
}

.links {
  display: flex;
  justify-content: space-evenly;
  margin-top: 30px;
}

.contact {
  margin: 20px 0;

  a {
    width: 100%;
    background-color: var(--primary);
    font-size: 8px;

    &:hover {
      background-color: var(--primary);
    }
    &:focus {
      background-color: var(--primary);
    }
  }
}

.contentSquare {
  background-color: var(--dark);
  border-radius: 20px;
  padding: 15px;
}

.me {
  margin: 80px 0;
  color: var(--light);

  h2 {
    text-align: center;
  }

  p {
    text-align: center;
  }
}

.infos {
  color: var(--light);
  margin-bottom: 80px;

  h3 {
    font-size: 20px;
  }
}

.languages {
  position: absolute;
  right: 0;
  display: flex;
  justify-content: space-between;
  float: right;
  width: 10%;
  margin-right: 30px;
  padding-top: 30px;

  button {
    margin-right: 20px;
  }
}

.projects {
  color: var(--light);

  h3 {
    margin-bottom: 100px;
  }
}

.tech {
  margin: 80px 0;
  color: var(--light);

  h4 {
    margin-bottom: 50px;
    font-size: 19px;
    font-weight: bold;
  }
}

.icons {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: flex-start;
  gap: 15px;
  padding: 25px 15px;
}

.footer {
  padding: 50px;
  color: #fff;
  font-size: 16px;

  div {
    display: flex;
    justify-content: center;
    margin: 20px 0 20px 0;
  }

  input[type="color"] {
    border: none;
    width: 32px;
    height: 32px;
    cursor: pointer;
  }

  input[type="color"]::-webkit-color-swatch-wrapper {
    padding: 0;
  }

  input[type="color"]::-webkit-color-swatch {
    border: none;
  }
}

@media (max-height: 300px) {
  .main {
    height: 250px;
    h1 {
      font-size: 15px;
    }
  }

  .city {
    font-size: 10px;
  }

  .contact {
    a {
      font-size: 7px;
    }
  }
}

@media (max-height: 420px) {
  .desc {
    display: none;
  }
}

@media (min-width: 768px) {
  .main {
    h1 {
      font-size: 30px;
    }

    p {
      font-size: 20px;
    }
  }

  .desc {
    font-size: 20px;
  }

  .contact {
    a {
      font-size: 15px;
    }
  }

  .languages {
    width: 8%;
  }

  .infos {
    h3 {
      font-size: 30px;
    }
  }

  .tech {
    h4 {
      margin-bottom: 50px;
      font-size: 2.92rem;
    }
  }
}

@media (min-width: 1000px) {
  .languages {
    width: 4%;
  }
}

@media (prefers-color-scheme: light) {
  .contentSquare {
    background-color: var(--light-secondary);
  }

  .contact {
    a {
      color: var(--dark);
    }
  }
}
