.container{
  height: 100vh;
  display: flex !important;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h1 {
    font-size: 20px;
    font-weight: bold;
    color: var(--light);
  }

  button{
    background: none;
    color: var(--light);
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    gap: 5px;
    padding-bottom: 4px;
    cursor: pointer;
  }

  i{
    color: var(--primary);
  }
}

.lottieImg {
  height: 200px;
}




@media (min-width: 768px) {
  .container {
    h1 {
      font-size: 30px;
    }
  } 

  .lottieImg {
    height: 600px;
  }
}

@media (min-width: 1100px) {
  .container {
    h1 {
      font-size: 30px;
    }
  } 
}

@media (max-height: 300px) {
  .container {
    height: 250px;
    h1 {
      font-size: 15px;
    }
  } 
}