.container {
  height: 100vh;
  display: flex !important;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5rem;
}

.container h1 {
  font-size: 2rem;
  font-weight: bold;
  color: var(--text);
  text-align: center;
  margin-top: 8vh
}

.container button {
  margin-top: 2rem;
  font-size: 1.5vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: none;
  color: var(--primary);
  border: none;
  cursor: pointer;
}

.container i {
  color: var(--primary);
}

.lottieImg {
  height: 35vh;
  max-width: 100%;
}

@media (min-width: 768px) {
  .container h1 {
    font-size: 3rem;
  }

  .lottieImg {
    height: 60vh;
  }
}

@media (min-width: 1100px) {
  .container h1 {
    font-size: 3rem;
  }
}
