.container {
  &:nth-child(2) {
    margin-bottom: 80px;
  }

  a {
    color: var(--primary);
  }

  margin: 80px 0;
}

.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;

  div {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.link {
  color: var(--primary);
}

.carousel {
  height: 500px !important;

  img {
    height: 405.02px !important;
  }

  margin-bottom: 80px;
}

@media (min-width: 768px) {
  .carousel {
    height: 580px !important;
  }
}
