.container {
  width: 100%;
  margin: 6rem 0;
}

.carousel {
  width: 100%;
}

.carouselContent {
  display: flex;
  justify-content: center;
  align-items: center;
}

.carouselMockup {
  height: 40.6rem;
}

.onlyOneImage {
  display: flex;
  justify-content: center;
  align-items: center;
}

.carouselItem:nth-child(1) {
  position: absolute;
  left: calc(45% - 10rem);
}

.carouselItem:nth-child(2) {
  z-index: 1;
}

.carouselItem:nth-child(3) {
  position: absolute;
  right: calc(45% - 10rem);
}

.cover {
  position: absolute;
  transition: opacity 0.3s ease;
}

.fill {
  width: 100%;
  height: 99.5%;
}

.cardOverlay {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  position: absolute;
  background-color: #00000099;
  transition: all 0.3s ease;
}

.cardOverlayRadius {
  border-radius: 4rem;
}
