.container {
  display: grid;
  justify-content: center;
  align-content: center;
  height: 100%;
}

.container h1,
.container h1 + p {
  margin-bottom: 1.5rem;
}

.container p {
  font-size: 1.5rem;
}

.container :nth-child(3n) {
  margin-bottom: 2rem;
}

.container a {
  color: var(--text);
}

.icons {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin-bottom: 3rem;
}

.button {
  background-color: var(--primary);
  text-transform: uppercase;
  text-decoration: none;
  font-size: 1rem;
  border-radius: 0.4rem;
  padding: 6px 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
}

.button svg {
  margin-right: 0.8rem;
}

@media (min-width: 768px) {
  .container p {
    font-size: 2.5rem;
  }

  .container a {
    font-size: 1.5rem;
  }

  .container :nth-child(3n) {
    text-align: justify;
  }

  .button {
    font-size: 3rem;
  }
}
