.container {
  display: grid;
  justify-content: center;
  align-content: center;
  height: 100%;
}

.container h1,
.container h1 + p{
  margin-bottom: 1.5rem;
}

.container p {
  font-size: 1.5rem;
}

.container :nth-child(3n) {
  text-align: justify;

  margin-bottom: 2rem;
}

.container a {
  color: var(--mui-palette-grey-50);
}

.icons {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin-bottom: 3rem;
}

@media (min-width: 768px) {
  .container p {
    font-size: 2.5rem;
  }

  .container a {
    font-size: 1.5rem;
  }
}
