.container {
  position: relative;
  transition: 200ms;
  cursor: default;
}

.container:hover .tooltip {
  display: block;
}

.tooltip {
  position: absolute;
  bottom: -35%;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--secondary);
  color: var(--text);
  padding: 0.5rem 2rem;
  cursor: auto;
  display: none;
  animation: showTooltip 300ms ease-in-out;
  transform-origin: bottom;
  font-size: 1.4rem;
  font-weight: 500;
  text-align: center;
  width: 180%;
}

.tooltip::after {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  border-left: 1rem solid;
  border-right: 1rem solid;
  border-bottom: 1rem solid;
  border-color: transparent transparent var(--secondary) transparent;
  bottom: 100%;
  left: 50%;
  transform: translate(-50%);
}

@keyframes showTooltip {
  0% {
    opacity: 0;
    transform: scaleY(0) translateX(-50%);
  }

  100% {
    opacity: 1;
    transform: scaleY(1) translateX(-50%);
  }
}
